body {
    font-family: "Bai Jamjuree";
    margin: 0;
}

header {
    background-image: url(images/bg-header-desktop.png);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 120px;
    height: 120px;
}

.pg-section {
    width: 90%;
    margin: 1em 1em;
    text-align: center;
    margin-bottom: 7em;
}

a {
    text-decoration: none;
    border: 1px solid hsl(171, 66%, 44%);
    border-radius: 2em;
    width: 150px;
    background-color: hsl(171, 66%, 44%);
    color: white;
}

.pg-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.nav-link {
    width: 150px;
    padding: 0.5em 1em;
    box-shadow: 2px 2px 5px hsl(171, 66%, 44%);
}

.nav-mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 2px 5px hsl(233, 100%, 69%);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

.pg-article {
    width: 90%;
    margin: 1em 1em;
    text-align: center;
    margin-bottom: 4em;
}

.container {
    width: 90%;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
}

.device {
    width: 100%;
}

aside {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 6em;
}

.info {
    width: 90%;
    margin: 2em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
    margin: 2em;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(120, 1%, 66%, 0.301);
}

.footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    margin: 1em;
    margin-right: 3em;
}

.footer {
    border: none;
    background-color: hsla(120, 1%, 90%, 0.301);
    margin: 1em;
    color: black;

}

.A-socials {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#footer {
    margin-top: 2em;
    width: 50px;
}

li {
    margin: 1em;
}

a:hover {
    color: hsl(171, 87%, 40%);
    cursor: pointer;
}

.nav-link:hover {
    color: white;
    background-color: hsl(171, 100%, 44%);
    box-shadow: 2px 2px 5px hsl(171, 100%, 44%);
}

.nav-mac:hover {
    color: white;
    background-color: hsl(233, 100%, 83%);
    box-shadow: 2px 2px 5px hsl(233, 100%, 83%);
}